@model RestaurantTracker.Models.RestaurantViewModel

<div>
    <form id="input-form " method="post">
        <label asp-for="@Model.Address :"></label> <input asp-for="@Model.Address" type="text" /> <br />
        <label asp-for="@Model.VeganFriendly : "></label> <input class="largeCheckbox" asp-for="@Model.VeganFriendly" type="checkbox" /> <br />
        <label asp-for="@Model.PetFriendly : "></label> <input class="largeCheckbox" asp-for="@Model.PetFriendly" type="checkbox" /> <br />
        <label asp-for="@Model.FreeToilet : "></label> <input class="largeCheckbox" asp-for="@Model.FreeToilet" type="checkbox" /> <br />
        <label asp-for="@Model.ImgUrl :"></label> <input asp-for="@Model.ImgUrl" type="text" /> <br />  <!-- TODO: add upload picture functionality with input type=image-->
        <label asp-for="@Model.Cleanness :"></label>
        <select asp-for="@Model.Cleanness">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>


        </select>
        <br />
        <label asp-for="@Model.HospitalityLevel :"></label>
        <select asp-for="@Model.HospitalityLevel">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>

        <input type="submit" asp-controller="Restaurant" asp-action="Create" />

    </form>

</div>


<style>
    #input-form > input {
        background-color: aliceblue;
    }

    .largeCheckbox {
        transform: scale(2);
    }

    div > label {
        font-weight: bold;
    }
</style>